if SHIELD_VELVET_LEFT 

config ZMK_KEYBOARD_NAME
    default "velvet Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_VELVET_RIGHT

config ZMK_KEYBOARD_NAME
    default "velvet Right"

endif

if SHIELD_VELVET

config ZMK_SPLIT
    default y

endif
